body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
.orange-color {
  color: orange;
}
.felxible-container {
  display: flex;
  margin-bottom: 150px;
}
.half-width {
  width: 50%;
  padding-left: 10%;
}
.half-width img {
  width: 80%;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(green, skyblue);
  padding: 10px 30px;
  color: white;
  border-radius: 10px;
  font-weight: 600px;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.dream-big {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.experience-item {
  box-shadow: 10px 5px 30px gray;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
}
.experience-area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
#bar1 {
  border-radius: 5px;
  border-left: 7px solid orange;
  padding-left: 25px;
}
#bar2 {
  border-radius: 5px;
  border-left: 7px solid blueviolet;
  padding-left: 25px;
}
footer p {
  text-align: center;
}
